#navbar{
    position: relative;
    margin-left: 8px;
    width: 19em;
    height: 30px;
    margin-top: 10px;
}
.navi{
    display: flex;
    position: absolute;
    right: 7em;
    margin-top: 5px;
}
.cname{
    margin-left: 1em;
    font-size: 12px;
    margin-top: 7px;
}
.items{
    font-size: 7px;
    padding-left: 1.5em;
}
.items a{
    padding: 3px;
}
.items a:hover{
    color: whitesmoke;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color:gray;
}

#board{
    margin-left: 8px;
    width: 19em;
    height: 12em;
    background: url(board.jpg);
    background-size: 100% 12em;
}
#board h1{
    font-size: 10px;
    margin-left: 2em;
    margin-top: 3em;
}

footer{
    height: 35px;
    width: 19em;
    margin-left: 8px;
}
footer p{
    font-size: 10px;
}
.para1{
    margin-left: 8px;
    width: 106%;
    display: block;
    font-size: 8px;
}
.sec,.secb{
    height: 10em;
    margin-left: 8px;
    width: 19em;
}
.heading{
    font-size: 17px;
    margin-top: -84px;
    margin-left: -1em;
}
.para{
    font-size: 10px;
    margin-left: -0.5em;
    margin-top: -55px;
}
.image {
    padding-top: 51px;
    margin-left: 12em;
    display: block;
    width: 6em;
    height: 6em;
    filter: drop-shadow(0px 1px 2px black);
}
