*{
    margin: 0;
    padding: 0;
}
#navbar{
    position: relative;
    margin-left: 13px;
    width: 25em;
    height: 40px;
    margin-top: 10px;
}
.navi{
    display: flex;
    position: absolute;
    right: 145px;
    margin-top: 8px;
}
.cname{
    margin-left: 1em;
    font-size: 15px;
    margin-top: 9px;
}
.items{
    font-size: 11px;
    padding-left: 1em;
}
.items a{
    padding: 3px;
}
.items a:hover{
    color: whitesmoke;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color:gray;
}

#board{
    margin-left: 13px;
    width: 25em;
    height: 15em;
    background: url(board.jpg);
    background-size: 100% 15em;
}
#board h1{
    font-size: 13px;
    margin-left: 2em;
    margin-top: 3em;
}

footer{
    height: 40px;
    width: 25em;
    margin-left: 13px;
}
footer p{
    font-size: 14px;
    padding-top: 1em;
}
.para1{
    padding: 1em;
    margin-left: 13px;
    width: 108%;
    display: block;
    font-size: 16px;
}
.sec,.secb{
    height: 10em;
    margin-left: 13px;
    width: 25em;
}
.heading{
    font-size: 25px;
    margin-top: -84px;
    margin-left: -1em;
}
.para{
    font-size: 14px;
    margin-left: -0.5em;
    margin-top: -51px;
}
.image {
    padding-top: 51px;
    margin-left: 17em;
    display: block;
    width: 6em;
    height: 6em;
    filter: drop-shadow(0px 1px 2px black);
}
